<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>572774456876-dqufc22svmikk2il7v0q4oim5peac1uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572774456876-dqufc22svmikk2il7v0q4oim5peac1uu</string>
	<key>API_KEY</key>
	<string>AIzaSyBToAYS6KL23ZJeqkN8z7FemDNl2dCfVts</string>
	<key>GCM_SENDER_ID</key>
	<string>572774456876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotsalsainteractive.skoovymap</string>
	<key>PROJECT_ID</key>
	<string>skoovy-b4e40</string>
	<key>STORAGE_BUCKET</key>
	<string>skoovy-b4e40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:572774456876:ios:2e4c82616dd9f4b0</string>
	<key>DATABASE_URL</key>
	<string>https://skoovy-b4e40.firebaseio.com</string>
</dict>
</plist>